
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    padding-bottom: 0 !important;
}

.content-container {
    width: 80%;
    margin: 20px auto;
}

.btn-login {
    margin-right: 10px;
}

.btn-register {
    margin-left: 10px;
}

.btn-join {
    width: 150px;
}

.navbar {
    padding: 0.5rem 0 !important;
}

.cards-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;   
}

.card {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
}

.card-img-top {
    padding: 30px;
    height: 300px;
    width: 250px;
    margin: 0 auto;
}

footer {
    background-color: rgb(248,249,250);
    height: 56px;
}

.footer-container {
    width: 80%;
    margin: 0 auto;
}

.copyright {
    margin-top: 14px;
    float: left;
}

.develop {
    margin-top: 14px;
    float: right;
}

.carousel-inner {
    background-color: black;
}

.carousel-item img {
    opacity: 0.4;
}

.navbar-container {
    width: 80%;
    margin: 0 auto;
}

.navbar-container-primary {
    background-color: rgb(248,249,250);
}


@media only screen and (max-width: 991px) {

    #horizontal-1 {
        display: none;
    } 

    #slideshow {
        display: none;
    }

    .display-4 {
        font-size: 3rem;
    }

    .develop {
        display: none;
    }

    .copyright {
        display: block;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

}